<% if @doctor.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@doctor.errors.count, "error") %>
      it's not posible save :</h2>
    <ul>
    <% @doctor.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%if @doctor.id==nil%>
    <%@action_name="create"%>
    <%else%>
    <%@action_name="update"%>
<%end%>


<div class="formbody">
    <div class="container">
        <p class="h2 text-center">New Doctor</p>
        <%=form_for :doctor , url:@action_name do |x|%>
            <div class="form-group">
                <label>Name </label>
                <%=x.text_field :name, placeholder: "Enter your full name",class: "form-control"%>
                
            </div>
            <div class="form-group">
                <label>Phone:</label><br/>
                <%=x.text_field :phone , placeholder: "Enter your phone ",class: "form-control"%>               
            </div>
            <div class="form-group">
                <label>Email</label><br/>
                <%=x.text_field :email, placeholder: "Enter your Email",class: "form-control"%>   
            </div>
            <div class="form-group">
               <%if @doctor.id==nil%>
                     <input class="btn btn-primary btn-block" type="submit" value="Add"/>
                    <%else%>
                    <%= x.hidden_field :id %>
                     <input class="btn btn-primary btn-block" type="submit" value="Update"/>
                <%end%>   
                <%=link_to "Back", {controller: "doctores", action: "index"}, class: "btn btn-primary btn-block"%>
            </div>
        <%end%>
    </div>
    </div>